.logo {
    width: 120px;
    margin-top: -5px;
}

.view {
    background: url("/src/img/Cheveux.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgba(239, 152, 29, 0.97);
}

.block-header{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.23);
    padding: 10px 15px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(239, 152, 29, 0.97);
    }
}