.logo {
    width: 120px;
    margin-top: -5px;
}

.view {
    background: url("/src/img/background_images.jpg")no-repeat center center;
    background-size: cover;
}

.block-orders{
    z-index: 1;
    font-size: 20px;
    margin-top: 150px;
    position: sticky;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgba(239, 152, 29, 0.97);
}

.block-header{
    max-width: max-content;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.23);
    padding: 10px 15px;
}

.header-text{
    color: brown;
    font-weight: 600;
}

.call-action{
    z-index: 1;
    right: 15px;
    bottom: 15px;
}
.img-fluid:hover{
    box-shadow: none !important;
    transition: 0.3s all;
}
.block-footer{
    width: 100% !important;
    position: relative;
    bottom: -34px;
}
.page-footer{
    background: #656565 url("/src/img/footer.png");
}
.btn-floating .fa-instagram:hover{
    color: #f80;
}
.btn-floating .fa-facebook:hover{
    color: #4285f4;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(239, 152, 29, 0.97);
    }
    .call-action{
        right: 5px;
        bottom: 5px;
    }
    .block-orders{
        margin-top: 70px;
    }
    .block-footer-mobile{
        font-size: 1.2rem;
    }
    .block-footer-mobile h5{
        font-size: 1.5rem;
    }
    h4.h4-responsive.header-text{
        text-align: center;
    }
}